## Part 1: Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

WARNING:tensorflow:From c:\Users\derek\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [2]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [3]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]

In [4]:
# Create a list of at least 10 column names to use as X data
X_columns_to_include = [column_name for column_name in attrition_df.columns if column_name not in ('Attrition', 'Department')]

# Create X_df using your selected columns
X_df = attrition_df[X_columns_to_include]

# Show the data types for X_df
X_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   BusinessTravel            1470 non-null   object
 2   DistanceFromHome          1470 non-null   int64
 3   Education                 1470 non-null   int64
 4   EducationField            1470 non-null   object
 5   EnvironmentSatisfaction   1470 non-null   int64
 6   HourlyRate                1470 non-null   int64
 7   JobInvolvement            1470 non-null   int64
 8   JobLevel                  1470 non-null   int64
 9   JobRole                   1470 non-null   object
 10  JobSatisfaction           1470 non-null   int64
 11  MaritalStatus             1470 non-null   object
 12  NumCompaniesWorked        1470 non-null   int64
 13  OverTime                  1470 non-null   object
 14  PercentSalaryHike         1470 non-null   int64
 15  PerformanceRating         1470 non-null   int64
 16  RelationshipSatisfaction  1470 non-null   int64
 17  StockOptionLevel          1470 non-null   int64
 18  TotalWorkingYears         1470 non-null   int64
 19  TrainingTimesLastYear     1470 non-null   int64
 20  WorkLifeBalance           1470 non-null   int64
 21  YearsAtCompany            1470 non-null   int64
 22  YearsInCurrentRole        1470 non-null   int64
 23  YearsSinceLastPromotion   1470 non-null   int64
 24  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(20), object(5)
memory usage: 287.2+ KB

In [5]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df)

In [6]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary

# Filtering out string columns
X_string_columns = X_df.select_dtypes(include=['object']).columns

# Create training string df
X_train_string = X_train[X_string_columns]

# Create testing string df
X_test_string = X_test[X_string_columns]

# Check unique values in each column
print("X string column unique value counts")
print(X_train_string.nunique())
print(f"Expected number of columns after encoding: {X_test_string.nunique().sum()}")

X string column unique value counts
BusinessTravel    3
EducationField    6
JobRole           9
MaritalStatus     3
OverTime          2
dtype: int64
Expected number of columns after encoding: 23

In [7]:
# Import OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

# Instantiate OHE
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Fit and transform string training and testing data
X_train_string_encoded = ohe.fit_transform(X_train_string)
X_test_string_encoded = ohe.transform(X_test_string)

# Get column names
encoded_column_names = ohe.get_feature_names_out(X_string_columns)

# Create encoded dfs
X_train_string_encoded_df = pd.DataFrame(X_train_string_encoded, columns=encoded_column_names)
X_test_string_encoded_df = pd.DataFrame(X_test_string_encoded, columns=encoded_column_names)

# Check encoded dfs
display(X_train_string_encoded_df.head())
X_test_string_encoded_df.head()

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,JobRole_Healthcare Representative,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,JobRole_Healthcare Representative,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [8]:
# Isolate numeric columns for training and testing data
X_train_numeric = X_train.drop(columns=X_string_columns).reset_index(drop=True)
X_test_numeric = X_test.drop(columns=X_string_columns).reset_index(drop=True)

# Merge encoded df with numeric df
X_train_encoded = pd.concat([X_train_numeric, X_train_string_encoded_df], axis=1)
X_test_encoded = pd.concat([X_test_numeric, X_test_string_encoded_df], axis=1)
# Check merged dfs
display(X_train_encoded.head())
X_test_encoded.head()

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,NumCompaniesWorked,PercentSalaryHike,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,55,2,2,4,58,1,5,3,4,14,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,35,1,3,4,68,2,1,1,1,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,56,14,4,2,72,3,1,2,9,18,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,47,2,4,1,82,3,4,3,3,19,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,36,9,2,2,48,2,2,2,2,11,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,NumCompaniesWorked,PercentSalaryHike,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,34,16,4,4,85,1,1,1,1,23,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,27,5,1,3,42,2,3,4,1,16,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,39,25,2,3,71,3,3,3,3,21,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,49,1,3,3,36,3,4,3,4,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,40,15,3,1,80,2,3,3,1,13,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [9]:
# Create a StandardScaler
scaler = StandardScaler()

# Scale the training and testing data
X_train_encoded_scaled = scaler.fit_transform(X_train_encoded)
X_test_encoded_scaled = scaler.transform(X_test_encoded)

# Get column names
scaled_column_names = scaler.get_feature_names_out(X_train_encoded.columns)

# Create dfs from scaled data
X_train_encoded_scaled_df = pd.DataFrame(X_train_encoded_scaled, columns=scaled_column_names)
X_test_encoded_scaled_df = pd.DataFrame(X_test_encoded_scaled, columns=scaled_column_names)

# Check dfs
display(X_train_encoded_scaled_df.head())
X_test_encoded_scaled_df.head()

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,NumCompaniesWorked,PercentSalaryHike,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,1.984377,-0.890137,-0.874430,1.165695,-0.399221,-2.476608,2.646545,0.226507,0.542346,-0.310882,...,-0.332997,-0.229197,-0.496595,-0.531871,-0.248308,-0.540288,1.089269,-0.680793,0.614410,-0.614410
1,-0.215385,-1.012189,0.095985,1.165695,0.092829,-1.060302,-0.961859,-1.595469,-0.662624,1.049688,...,-0.332997,-0.229197,-0.496595,-0.531871,-0.248308,-0.540288,-0.918046,1.468875,0.614410,-0.614410
2,2.094365,0.574485,1.066399,-0.661611,0.289649,0.356004,-0.961859,-0.684481,2.550630,0.777574,...,-0.332997,-0.229197,2.013714,-0.531871,-0.248308,-0.540288,1.089269,-0.680793,-1.627577,1.627577
3,1.104472,-0.890137,1.066399,-1.575263,0.781699,0.356004,1.744444,0.226507,0.140689,1.049688,...,-0.332997,4.363068,-0.496595,-0.531871,-0.248308,-0.540288,1.089269,-0.680793,0.614410,-0.614410
4,-0.105397,-0.035774,-0.874430,-0.661611,-0.891271,-1.060302,-0.059758,-0.684481,-0.260968,-1.127224,...,3.003029,-0.229197,-0.496595,-0.531871,-0.248308,1.850865,-0.918046,-0.680793,-1.627577,1.627577

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,NumCompaniesWorked,PercentSalaryHike,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,-0.325373,0.818589,1.066399,1.165695,0.929314,-2.476608,-0.961859,-1.595469,-0.662624,2.138145,...,-0.332997,-0.229197,2.013714,-0.531871,-0.248308,-0.540288,1.089269,-0.680793,-1.627577,1.627577
1,-1.095290,-0.523981,-1.844844,0.252042,-1.186502,-1.060302,0.842343,1.137495,-0.662624,0.233346,...,-0.332997,4.363068,-0.496595,-0.531871,-0.248308,1.850865,-0.918046,-0.680793,-1.627577,1.627577
2,0.224567,1.917056,-0.874430,0.252042,0.240444,0.356004,0.842343,0.226507,0.140689,1.593917,...,-0.332997,-0.229197,-0.496595,-0.531871,-0.248308,-0.540288,1.089269,-0.680793,0.614410,-0.614410
3,1.324448,-1.012189,0.095985,0.252042,-1.481732,0.356004,1.744444,0.226507,0.542346,-0.310882,...,-0.332997,-0.229197,-0.496595,-0.531871,-0.248308,-0.540288,-0.918046,1.468875,0.614410,-0.614410
4,0.334555,0.696537,0.095985,-1.575263,0.683289,-1.060302,0.842343,0.226507,-0.662624,-0.582996,...,3.003029,-0.229197,-0.496595,-0.531871,-0.248308,-0.540288,1.089269,-0.680793,0.614410,-0.614410

In [10]:
# Check y_df information and unique value counts
y_df.info()
display(y_df.nunique())
print(f"Expected number of columns after encoding: {y_df.nunique().sum()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Attrition   1470 non-null   object
 1   Department  1470 non-null   object
dtypes: object(2)
memory usage: 23.1+ KB

Attrition     2
Department    3
dtype: int64

Expected number of columns after encoding: 5

In [11]:
# Create a OneHotEncoder for the Department and Attrition column
y_ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Fit the encoder to the training data, transform y_train and y_test
y_train_encoded = y_ohe.fit_transform(y_train)
y_test_encoded = y_ohe.transform(y_test)

# Get column names from y_df
y_df_column_names = y_ohe.get_feature_names_out(y_df.columns)

# Turn encoded data back into dataframes
y_train_encoded_df = pd.DataFrame(y_train_encoded, columns=y_df_column_names)
y_test_encoded_df = pd.DataFrame(y_test_encoded, columns=y_df_column_names)

# Drop first 'Attrition' column
y_train_encoded_df = y_train_encoded_df.drop('Attrition_No')
y_train_encoded_df = y_train_encoded_df.drop('Attrition_No')

# Check encoded dfs
display(y_train_encoded_df.head())
y_test_encoded_df.head()

,Attrition_No,Attrition_Yes,Department_Human Resources,Department_Research & Development,Department_Sales
0,1.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,1.0,0.0
3,1.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,1.0,0.0

,Attrition_No,Attrition_Yes,Department_Human Resources,Department_Research & Development,Department_Sales
0,0.0,1.0,0.0,1.0,0.0
1,1.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,1.0,0.0

In [12]:
# Seperate into Attrition and Department dfs
# Create funtion to split df by keyword
def isolate_by_keyword(df, keyword):
    iso_columns = df.columns.str.contains(keyword, case=False)
    iso_df = df.loc[:, iso_columns]
    return iso_df

# Create dfs
y_train_attrition = isolate_by_keyword(y_train_encoded_df, 'attrition')
y_test_attrition = isolate_by_keyword(y_test_encoded_df, 'attrition')
y_train_department = isolate_by_keyword(y_train_encoded_df, 'department')
y_test_department = isolate_by_keyword(y_test_encoded_df, 'department')

# Check dfs
display(y_train_attrition.head())
display(y_test_department.head())

   Attrition_No  Attrition_Yes
0           1.0            0.0
1           1.0            0.0
2           0.0            1.0
3           1.0            0.0
4           1.0            0.0

,Department_Human Resources,Department_Research & Development,Department_Sales
0,0.0,1.0,0.0
1,0.0,1.0,0.0
2,0.0,1.0,0.0
3,0.0,1.0,0.0
4,0.0,1.0,0.0

In [13]:
# Final preprocessed dfs are:

# X_train_encoded_scaled_df
# X_test_encoded_scaled_df

# y_train_attrition
# y_test_attrition

# y_train_department
# y_test_department

## Create, Compile, and Train the Model

In [14]:
# Find the number of columns in the X training data
X_col_count = len(X_train_encoded_scaled_df.columns)

# Create the input layer
input_layer = layers.Input(shape=(X_col_count), name='input_features')

# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu', name='shared_1')(input_layer)
shared_layer2 = layers.Dense(32, activation='relu', name='shared_2')(shared_layer1)

WARNING:tensorflow:From c:\Users\derek\anaconda3\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [15]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
department_layer1 = layers.Dense(16, activation='relu', name='department_1')(shared_layer2)

# Create the output layer
department_output = layers.Dense(3, activation='softmax', name='department_output')(department_layer1)

In [16]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attrition_layer1 = layers.Dense(16, activation='relu', name='attrition_1')(shared_layer2)

# Create the output layer
attrition_output = layers.Dense(1, activation='sigmoid', name='attrition_output')(attrition_layer1)

In [17]:
# Create the model
model = Model(inputs=input_layer, outputs=[department_output, attrition_output])

# Compile the model
model.compile(optimizer='adam',
              loss={'department_output': 'categorical_crossentropy', 'attrition_output': 'binary_crossentropy'},
              metrics={'department_output': 'accuracy', 'attrition_output': 'accuracy'})

# Summarize the model
model.summary()

WARNING:tensorflow:From c:\Users\derek\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_features (InputLayer  [(None, 43)]                 0         []
 )

 shared_1 (Dense)            (None, 64)                   2816      ['input_features[0][0]']

 shared_2 (Dense)            (None, 32)                   2080      ['shared_1[0][0]']

 department_1 (Dense)        (None, 16)                   528       ['shared_2[0][0]']

 attrition_1 (Dense)         (None, 16)                   528       ['shared_2[0][0]']

 department_output (Dense)   (None, 3)                    51        ['department_1[0][0]']

 attrition_output (Dense)    (None, 1)                    17        ['attrition_1[0][0]']

==================================================================================================
Total params: 6020 (23.52 KB)
Trainable params: 6020 (23.52 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [18]:
# Train the model
model.fit(
    X_train_encoded_scaled_df,
    {'department_output': y_train_department, 'attrition_output': y_train_attrition},
    epochs=10
)

Epoch 1/10
WARNING:tensorflow:From c:\Users\derek\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

WARNING:tensorflow:From c:\Users\derek\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

ValueError: in user code:

    File "c:\Users\derek\anaconda3\Lib\site-packages\keras\src\engine\training.py", line 1401, in train_function  *
        return step_function(self, iterator)
    File "c:\Users\derek\anaconda3\Lib\site-packages\keras\src\engine\training.py", line 1384, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "c:\Users\derek\anaconda3\Lib\site-packages\keras\src\engine\training.py", line 1373, in run_step  **
        outputs = model.train_step(data)
    File "c:\Users\derek\anaconda3\Lib\site-packages\keras\src\engine\training.py", line 1151, in train_step
        loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "c:\Users\derek\anaconda3\Lib\site-packages\keras\src\engine\training.py", line 1209, in compute_loss
        return self.compiled_loss(
    File "c:\Users\derek\anaconda3\Lib\site-packages\keras\src\engine\compile_utils.py", line 277, in __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "c:\Users\derek\anaconda3\Lib\site-packages\keras\src\losses.py", line 143, in __call__
        losses = call_fn(y_true, y_pred)
    File "c:\Users\derek\anaconda3\Lib\site-packages\keras\src\losses.py", line 270, in call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "c:\Users\derek\anaconda3\Lib\site-packages\keras\src\losses.py", line 2532, in binary_crossentropy
        backend.binary_crossentropy(y_true, y_pred, from_logits=from_logits),
    File "c:\Users\derek\anaconda3\Lib\site-packages\keras\src\backend.py", line 5822, in binary_crossentropy
        return tf.nn.sigmoid_cross_entropy_with_logits(

    ValueError: `logits` and `labels` must have the same shape, received ((None, 1) vs (None, 2)).

In [ ]:
# Evaluate the model with the testing data

In [ ]:
# Print the accuracy for both department and attrition

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.